Source: ros-dashing-ros2action
Section: misc
Priority: optional
Maintainer: Jacob Perron <jacob@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), python3-pytest, ros-dashing-ament-copyright, ros-dashing-ament-flake8, ros-dashing-ament-pep257, ros-dashing-ament-xmllint, ros-dashing-rclpy, ros-dashing-ros2cli, ros-dashing-test-msgs, ros-dashing-ros-workspace, python3-all, python3-setuptools
Homepage: 
Standards-Version: 3.9.2

Package: ros-dashing-ros2action
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, ros-dashing-action-msgs, ros-dashing-ament-index-python, ros-dashing-rclpy, ros-dashing-ros2cli, ros-dashing-rosidl-runtime-py, ros-dashing-ros-workspace
Description: The action command for ROS 2 command line tools.
