Source: ros-r2b2-ros2msg
Section: misc
Priority: extra
Maintainer: Dirk Thomas <dthomas@osrfoundation.org>
Build-Depends: debhelper (>= 9.0.0), python3-setuptools, python3-all (>= 3.5), ros-r2b2-ament-flake8, ros-r2b2-ament-copyright, ros-r2b2-std-msgs, dh-python, ros-r2b2-ament-pep257, ros-r2b2-ros2cli, ros-r2b2-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-r2b2-ros2msg
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, ros-r2b2-ament-index-python, ros-r2b2-ros2cli, ros-r2b2-ros-workspace
Description: The msg command for ROS 2 command line tools.
