Source: ros-r2b3-ros2msg
Section: misc
Priority: extra
Maintainer: Dirk Thomas <dthomas@osrfoundation.org>
Build-Depends: debhelper (>= 9.0.0), ros-r2b3-ament-copyright, ros-r2b3-ament-flake8, ros-r2b3-ament-pep257, ros-r2b3-ros2cli, ros-r2b3-std-msgs, ros-r2b3-ros-workspace, python3-all, python3-setuptools
Homepage: 
Standards-Version: 3.9.2

Package: ros-r2b3-ros2msg
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, ros-r2b3-ament-index-python, ros-r2b3-ros2cli, ros-r2b3-ros-workspace
Description: The msg command for ROS 2 command line tools.
